html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 2%;
  min-height: 100%;
}


main {
  flex: 1;
}

body {
  padding-top: 70px ; 
  background-image: url(Images/background.jpg);
}

.navbar-brand img, .navbar-nav .nav-link img {
  height: 30px;
}



.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

footer {
  background-color: white;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  position: static;
  bottom: 0;
}

.active {
  font-weight: bold;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px; 
}

.custom-card {
  flex: 1;
  margin: 0 10px; 
}


@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .custom-card {
    max-width: 80%;
    margin-bottom: 20px;
  }
}


.card-img-top {
  width: 100px; 
  height: auto;
  margin-left: 20px; 
  margin-top: 2px;
}




.table {
  background-color: white;
}

.apply-leave {
  margin: 50px;
  padding: 20px;
}

.container2 {
  margin-top: 10%;
}

.profile-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-card {
  width: 100%;
  height: auto;
}

.profile-card .card-body {
  padding: 20px;
}